
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


body {
      background-color: #242429;
      color: rgb(235, 235, 235);
      justify-items: center;
    }


    h1 {
        font-family: 'Outfit';
        font-size: 20px;
    }
    .menu {
      font-family: 'Outfit', sans-serif;
      font-size: 2.5rem;
      font-weight: 700;
      margin-bottom: 0px;
      text-align: center;
    }

    .formus {
      color: #5b7fa6;
    }

    .subtitle {
      font-family: 'Roboto Mono', monospace;
      font-size: 10px;
      color: rgb(145, 145, 145);
      margin-bottom: 30px;
      margin-top: 0px;
      font-weight: 300;
      text-align: center;
    }

    textarea {
      width: 300px;
      height: 100px;
      background-color: #1c1c1c;
      border: 2px solid #444;
      border-radius: 12px;
      color: rgb(235, 235, 235);
      font-family: 'Roboto Mono', monospace;
      font-size: 12px;
      margin-bottom: 12px;
    }

    textarea::placeholder {
      color: rgb(189, 189, 189);
    }

    .input {
        text-align: center;
    }

    p {

       font-family: 'Open Sans';
       font-size: 13px;
	}

    #sandbox {
       color: rgb(139, 139, 139);
       font-style: italic;
       font-size: 12px ;
	}

    h2, h3 {
      font-family: 'Ubuntu';
      color:rgb(199, 200, 201)
    }

    #return {
      justify-items: center;
      background-color: #1c1c1c;
      width: 100vh;
      height: 80vh;
      border-radius: 12px;
    }

    hr {
      width: 95%;
      opacity: 20%;
      margin-top: 0px;
    }



    #veracity {
      display: flex;
      gap: 250px;
    }


    #explain {
      width: 100vh;
      justify-items: center;
      
    }

    #text {
      text-align: center;
      width: 75vh;
    }

    
